In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('../data/raw/Movies_and_TV/X_0.csv', header=None)

In [32]:
X_toy = df.iloc[0:10]

In [33]:
X_toy.to_csv('../data/raw/Movies_and_TV/X_9.csv', index=False, header=None)

In [34]:
X_toy.shape

(10, 1)

In [35]:
X_toy.head()

                                                   0
0  really happy they got evangelised .. spoiler a...
1  Having lived in West New Guinea (Papua) during...
2  Excellent look into contextualizing the Gospel...
3  More than anything, I've been challenged to fi...
4  This is a great movie for a missionary going i...

In [36]:
from sentence_transformers import SentenceTransformer

modelname = 'all-MiniLM-L6-v2'
model = SentenceTransformer(modelname)

df = pd.read_csv('../data/raw/Movies_and_TV/X_9.csv', header=None, dtype='string')
df_vectorize = df[0].apply(lambda row : model.encode(row))
# df_vectorize.to_csv('ba.csv', header=None)

In [41]:
vt = np.array(df_vectorize.tolist())

In [43]:
print(df_vectorize.shape)
print(vt.shape)

(10,)
(10, 384)

In [10]:
df[0].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: 0
Non-Null Count  Dtype
--------------  -----
10 non-null     string
dtypes: string(1)
memory usage: 208.0 bytes

In [44]:
import numpy as np 

with open('../data/vectorize/Movies_and_TV/X_9.npy', 'rb') as f:
  X9 = np.load(f, allow_pickle=True)

In [45]:
X9.shape

(10, 384)

In [46]:
print(X9)

[[-0.01638832  0.02678723 -0.01380834 ... -0.01887128 -0.0047987
   0.00870955]
 [ 0.05484042  0.06091318 -0.01541432 ...  0.02260721 -0.02615114
   0.00422838]
 [-0.00184194  0.02840114 -0.07345426 ... -0.02911063 -0.05268499
   0.01983772]
 ...
 [-0.03369135  0.01282318 -0.01339597 ... -0.02563123 -0.02380778
   0.02246014]
 [-0.06868362  0.00854385 -0.08050216 ... -0.03428628  0.02166929
   0.01136284]
 [-0.06743892 -0.00958341 -0.02046669 ... -0.01088985  0.03291079
   0.06010567]]

In [47]:
X0 = pd.read_csv('../data/raw/Movies_and_TV/X_0.csv', header=None)

In [48]:
X0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999315 entries, 0 to 999314
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       999242 non-null  object
dtypes: object(1)
memory usage: 7.6+ MB

In [49]:
X0.isna().sum()

0    73
dtype: int64

In [50]:
y0 = pd.read_csv('../data/raw/Movies_and_TV/y_0.csv', header=None)

In [52]:
idx = X0.notna()

In [53]:
tmp = X0[idx]

In [55]:
tmp.isna().sum()

0    73
dtype: int64